body {
  width: 100%;
  float: left;
}
header#top {
  margin-bottom: 1em;
}
#maincolumn {
  display: inline;
  float: left;
  overflow: hidden;
  width: 54.6875%;
  margin: 0 0.78125%;
}
#sidebar {
  display: inline;
  float: left;
  overflow: hidden;
  width: 17.1875%;
  margin: 0 0.78125%;
}
