body {
    width: 100%;
    margin: 0;
    float: none;
    background: #fff url(none);
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}
h1 { font-size: 250%; }
h2 { font-size: 175%; }
h3 { font-size: 135%; }
h4 { font-size: 100%; font-variant: small-caps; }
h5 { font-size: 95%; }
h6 { font-size: 90%; font-style: italic; }
a:link, a:visited {
    color: #00c;
    font-weight: bold;
    text-decoration: underline; }
#content a:link:after, #content a:visited:after {
    content: " (" attr(href) ") ";
}
table {
    border-width: 1px;
    border-spacing: 0px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}
table th {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;
    -moz-border-radius: ;
}
table td {
    border-width: 1px;
    padding: 1px;
    border-style: inset;
    border-color: gray;
    background-color: white;
    -moz-border-radius: ;
}
