markdown_output/
virtualenv/
venv/
build_image
build_image.sh
env
.env
staticfiles/
media/
logs/
start_server
*.py~
*.pyc
*.log
# Database/fixture dumps
*.pgdump
*.dump
*.db
*.sqlite3
.coverage
*.swp
