[tool.poetry]
name = "it-assets"
version = "2.3.83"
description = "DBCA IT assets (both physical and knowledge-based) management system"
authors = ["DBCA OIM <asi@dbca.wa.gov.au>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.9"
django = "3.2.18"
psycopg2 = "2.9.4"
dbca-utils = "1.1.6"
django-extensions = "3.2.1"
python-dotenv = "1.0.0"
dj-database-url = "1.0.0"
gunicorn = "20.1.0"
unicodecsv = "0.14.1"
python-dateutil = "2.8.1"
XlsxWriter = "3.0.3"
django-crispy-forms = "1.14.0"
texttable = "1.6.3"
data-storage = {git = "https://github.com/dbca-wa/data-storage.git", rev = "v3.18"}
django-bootstrap-pagination = "1.7.1"
django-markdownx = "3.0.1"
webtemplate-dbca = "1.5.2"
pyyaml = "6.0"
mixer = "6.1.3"
msal = "1.18.0"
django-json-widget = "^1.1.1"
whitenoise = {version = "6.3.0", extras = ["brotli"]}
pysftp = "0.2.9"
django-csp = "3.7"

[tool.poetry.group.dev.dependencies]
ipython = "^8.10.0"
ipdb = "^0.13.3"
ruff = "^0.0.177"
black = "^22.8.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
# Enable Pyflakes `E` and `F` codes.
select = ["E", "F"]
# Never enforce `E501` (line length violations).
ignore = ["E501"]
# Always autofix.
fix = true
exclude = ["__pycache__", "migrations"]
