[tool.poetry]
name = "itassets"
version = "2.4.24"
description = "DBCA IT assets (both physical and knowledge-based) management system"
authors = ["DBCA OIM <asi@dbca.wa.gov.au>"]
license = "Apache-2.0"
package-mode = false

[tool.poetry.dependencies]
python = "^3.11"
django = "5.0.7"
psycopg = {version = "3.2.1", extras = ["binary", "pool"]}
dbca-utils = "2.0.2"
django-extensions = "3.2.3"
python-dotenv = "1.0.1"
dj-database-url = "2.2.0"
gunicorn = "22.0.0"
unicodecsv = "0.14.1"
python-dateutil = "2.8.2"
webtemplate-dbca = "1.7.1"
mixer = "7.2.2"
msal = "1.30.0"
whitenoise = {version = "6.7.0", extras = ["brotli"]}
pysftp = "0.2.9"
azure-storage-blob = "12.21.0"
django-storages = {version = "1.14.4", extras = ["azure"]}
xlsxwriter = "3.2.0"
sentry-sdk = {version = "2.11.0", extras = ["django"]}
redis = "5.0.7"

[tool.poetry.group.dev.dependencies]
ipython = "^8.26.0"
ipdb = "^0.13.13"
pre-commit = "^3.8.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
