[tool.poetry]
name = "itassets"
version = "2.4.17"
description = "DBCA IT assets (both physical and knowledge-based) management system"
authors = ["DBCA OIM <asi@dbca.wa.gov.au>"]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = "^3.11"
django = "4.2.10"
psycopg2 = "2.9.9"
dbca-utils = "2.0.1"
django-extensions = "3.2.3"
python-dotenv = "1.0.1"
dj-database-url = "2.1.0"
gunicorn = "21.2.0"
unicodecsv = "0.14.1"
python-dateutil = "2.8.2"
webtemplate-dbca = "1.7.0"
mixer = "7.2.2"
msal = "1.26.0"
whitenoise = {version = "6.6.0", extras = ["brotli"]}
pysftp = "0.2.9"
azure-storage-blob = "12.19.0"
django-storages = {version = "1.14.2", extras = ["azure"]}
xlsxwriter = "3.2.0"
sentry-sdk = {version = "1.40.5", extras = ["django"]}
redis = "5.0.1"

[tool.poetry.group.dev.dependencies]
ipython = "^8.21.0"
ipdb = "^0.13.13"
black = "^24.1.1"
pre-commit = "^3.6.2"
ruff = "^0.2.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
# Enable Pyflakes `E` and `F` codes.
select = ["E", "F"]
# Never enforce `E501` (line length violations).
ignore = ["E501"]
# Always autofix.
fix = true
exclude = ["__pycache__", "migrations"]
