[tool.poetry]
name = "itassets"
version = "2.4.31"
description = "DBCA IT assets (both physical and knowledge-based) management system"
authors = ["DBCA OIM <asi@dbca.wa.gov.au>"]
license = "Apache-2.0"
package-mode = false

[tool.poetry.dependencies]
python = "^3.12"
django = "4.2.16"
psycopg = { version = "3.2.3", extras = ["binary", "pool"] }
dbca-utils = "2.0.2"
django-extensions = "3.2.3"
python-dotenv = "1.0.1"
dj-database-url = "2.2.0"
gunicorn = "23.0.0"
unicodecsv = "0.14.1"
python-dateutil = "2.8.2"
webtemplate-dbca = "1.7.1"
mixer = "7.2.2"
msal = "1.31.0"
whitenoise = { version = "6.7.0", extras = ["brotli"] }
pysftp = "0.2.9"
azure-storage-blob = "12.23.1"
django-storages = { version = "1.14.4", extras = ["azure"] }
xlsxwriter = "3.2.0"
sentry-sdk = { version = "2.14.0", extras = ["django"] }
redis = "5.1.0"

[tool.poetry.group.dev.dependencies]
ipython = "^8.28.0"
ipdb = "^0.13.13"
pre-commit = "^3.8.0"

# Reference: https://docs.astral.sh/ruff/configuration/
[tool.ruff]
line-length = 120

[tool.ruff.lint]
ignore = [
  "E501", # Line too long
  "E722", # Bare except
]

# Reference: https://www.djlint.com/docs/configuration/
[tool.djlint]
profile = "django"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
