git+git://github.com/dbca-wa/dbca-utils@1.0.0
psycopg2-binary==2.8.2
Django==2.1.11
django-extensions==2.1.9
django-dotenv==1.4.2
dj-database-url==0.5.0
django-reversion==3.0.2
gunicorn==19.9.0
dj-static==0.0.6
json2html==1.2.1
django-mptt==0.10.0
django-mptt-admin==0.7.1
openpyxl==2.6.2
unicodecsv==0.14.1
python-dateutil==2.7.3
django-leaflet==0.24.0
Pillow==6.2.0
restless==2.1.1
django-queryset-csv==1.0.0
Babel==2.6.0
mixer==6.1.3
requests==2.20.0
django-q==1.0.2
redis==2.10.6
XlsxWriter==1.1.1
djangorestframework==3.9.1
djangorestframework-csv==2.1.0
djangorestframework-gis==0.14
djangorestframework-recursive==0.1.2
django-cors-headers==2.4.0
django-crispy-forms==1.7.2
adal==1.2.0
boto3==1.9.86
python-nmap==0.6.1
texttable==1.6.1
titlecase==0.12.0
#sentry-sdk==0.10.2
beautifulsoup4==4.8.0
django-helpdesk==0.2.17
django-markdown-deux==1.0.5