git+git://github.com/dbca-wa/dpaw-utils@minimal#egg=dpaw-utils
psycopg2-binary==2.7.4
Django==2.0.4
django-confy==1.0.4
django-extensions==2.0.6
django-reversion==2.0.13
gunicorn==19.8.1
Unipath==1.1
dj-static==0.0.6
json2html==1.2.1
django-mptt==0.9.0
django-mptt-admin==0.5.1
openpyxl==2.5.3
unicodecsv==0.14.1
python-dateutil==2.7.2
django-leaflet==0.23.0
Pillow==5.0.0
restless==2.1.1
django-queryset-csv==1.0.0
Babel==2.5.3
mixer==6.0.1
requests==2.18.4
django-q==0.9.4
redis==2.10.6
xlsxwriter==1.0.5
