{% extends "admin/base_site.html" %}
{% load admin_list i18n %}
{% load url from future %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin">
    Home
  </a>
   &rsaquo;
   <a href="/admin/assets">
     Assets
  </a>
  &rsaquo;
   <a href="/admin/assets/asset">
     Assets
  </a>
  &rsaquo;
   <a href="/assets/import">
     Import
  </a>
  &rsaquo;
  Categories
</div>
{% endblock %}

{% block content %}

<h4>Model categories</h4>

<p>Valid categories for the <tt>model_type</tt> field when importing assets are shown below.</p>

<p>
{% for c in categories %}
{{ c }} <br/>
{% endfor %}
</p>

{% endblock %}
