{% extends "webtemplate_dbca/base_b4.html" %}

{% block navbar_links %}{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col" id="div_page_content">
            <h1>{{ page_title }}</h1>
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>Project</th>
                    <td>{{ object.project }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ object.kind }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{{ object.image }}</td>
                </tr>
                <tr>
                    <th>Vulnerabilities</th>
                    <td>
                        {% for vuln in  image_vulns %}
                        <h5>{{ vuln.VulnerabilityID }}:</h5>
                        <table class="table table-bordered table-condensed">
                            <tr>
                                <td>Title</td>
                                <td>{{ vuln.Title }}</td>
                            </tr>
                            <tr>
                                <td>Severity</td>
                                <td>{{ vuln.Severity }}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{ vuln.Description }}</td>
                            </tr>
                        </table>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
