{% extends "base_itassets.html" %}
{% load static %}
{% load itsystemstags %}
{% block extra_style %}
    {{ block.super }}
    <style>
        #parent-container{
            max-height: calc(100dvh - 120px);
        }
        #page-headers{
        }
        #table-container{
            overflow-y:auto;
            overflow-x:auto;
            outline: 1px solid lightgrey;
        }
        #register-table{
            width: 100%;
            font-size:14px;
        }
        #sticky-col{
            position:sticky; 
            left:0; 
            border-right: 
            z-index:1;     
            outline: 1px solid lightgrey;
        }
        #sticky-head{
            position: sticky;
            top: 0; 
            white-space:nowrap; 
            z-index:2;
        }
        #select2{
            width:3ch;
            border: 0px;
        }
        th {
            outline: 1px solid lightgrey;
        }

        td {
            border: 1px solid #ddd;
        }
        footer{
            position:fixed;
            bottom:0;
            width:100%;
            z-index:2;
            max-height:65px;
        }
    </style>
{% endblock extra_style %}

{% block page_content %}
    <div id = "parent-container" class="d-flex flex-column container-fluid p-sm-2 p-md-4">
        <div class="container-fluid">
            <div class="row pb-2">
                <h1><b>{{ page_title }}</b></h1>
                <hr style="color:lightgrey;">
            </div>
            <div class="row flex-nowrap justify-content-between">
                <div class="col pb-1">
                    <!-- Search bar -->
                    <form id="filters" action="" method="get">
                        <div class="row justify-content-start align-self-center">
                            <div class="col-md-8 col-xl-7">
                                <div class="input-group align-self-center">
                                    <input id="search_field"
                                            type="text"
                                            class="form-control border-end-0"
                                            name="q"
                                            placeholder="Search..."
                                            value="{{ query_string }}">
                                    <button class="btn btn-outline-secondary border-start-0" type="button" style="border-color:#DEE2E6" data-bs-toggle="dropdown" data-bs-auto-close="outside"><b>⋮</b></button>
                                    <ul class="dropdown-menu p-2">
                                        <li><h6 class="dropdown-header">Search Fields</h6></li>
                                        <li>
                                            {% renderCheckboxField title="SIDN" text="System ID - Name" value=SIDN %}{% endrenderCheckboxField %}
                                        </li>
                                        <li>
                                            {% renderCheckboxField title="Desc" text="Description" value=Desc %}{% endrenderCheckboxField %}
                                        </li>
                                        <li>
                                            {% renderCheckboxField title="DA" text="Disposal Authority" value=DA %}{% endrenderCheckboxField %}
                                        </li>
                                        <li>
                                            {% renderCheckboxField title="RaD" text="Retention and Disposal" value=RaD %}{% endrenderCheckboxField %}
                                        </li>
                                        <li>
                                            {% renderCheckboxField title="UBCS" text="UBCS" value=UBCS %}{% endrenderCheckboxField %}
                                        </li>
                                    </ul>
                                    <button class="btn rounded-end btn-primary px-3" type="button" id="SearchButton" onclick="this.form.submit()">🔍︎</button>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <div class="d-none d-md-block align-self-center text-nowrap"> 
                                    {% if drafts_filter %}
                                        <input class="form-check-input" type="checkbox" form="filters" id="show_drafts" name="show_drafts" value="True" onchange="this.form.submit()" checked>
                                        <label for="show_drafts">Show Drafts</label>
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" form="filters" id="show_drafts" name="show_drafts" value="True" onchange="this.form.submit()">
                                        <label for="show_drafts">Show Drafts</label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-auto align-self-center">
                                <div class="d-none d-xl-block text-muted"> 
                                        Viewing {{ object_count }} record(s)
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-auto pb-1 d-none d-sm-block">
                    <div class="d-flex">{% include "itsystems/register_pagination.html" %}</div>
                </div>
            </div>
        </div>
            <div class="col d-block d-sm-none">
                <div class="d-flex justify-content-center">{% include "itsystems/register_pagination.html" %}</div>
            </div>
        <div style="padding:3px">
            {% renderButtons %}
            {% endrenderButtons %}
        </div>
        <div id ="table-container" class="d-flex flex-fill">
            <table id = "register-table" class="table table-striped table-sm table-hover">
                <thead id = "sticky-head">
                    <tr>
                        <th id = "sticky-col" style="z-index:3">System ID - Name</th>
                        <th>Status
                            {% renderSelect id="status" filter=status_filter list_name="statuses" %}
                            {% endrenderSelect %}
                        </th>
                        <th>Division
                            {% renderSelect id="division" filter=division_filter list_name="divisions" %}
                            {% endrenderSelect %}
                        </th>
                        <th>Description</th>
                        <th>Link</th>
                        <th>Business Service Owner
                            {% renderSelect id="business_service_owner" filter=business_service_owner_filter list_name="business_service_owners" %}
                            {% endrenderSelect %}
                        </th>
                        <th>System Owner
                            {% renderSelect id="system_owner" filter=system_owner_filter list_name="system_owners" %}
                            {% endrenderSelect %}
                        </th>
                        <th>Technology Custodian
                            {% renderSelect id="technology_custodian" filter=technology_custodian_filter list_name="technology_custodians" %}
                            {% endrenderSelect %}
                        </th>
                        <th>Information Custodian
                            {% renderSelect id="information_custodian" filter=information_custodian_filter list_name="information_custodians" %}
                            {% endrenderSelect %}
                        </th>
                        <th>Seasonality
                            {% renderSelect id="seasonality" filter=seasonality_filter list_name="seasonalities" %}
                            {% endrenderSelect %}
                        </th>
                        <th>Availability
                            {% renderSelect id="availability" filter=availability_filter list_name="availabilities" %}
                            {% endrenderSelect %}
                        </th>
                        <th>File Store Link</th>
                        <th>Vital Records
                            <select class="select2" id="vital_records" name="vital_records" form="filters" onchange="this.form.submit()">
                                {% if vital_records_filter == null %}
                                    <option disabled selected value></option>
                                {% endif %}
                                {% if vital_records_filter == "True" %}
                                    <option selected="selected">True</option>
                                    <option>False</option>
                                {% elif vital_records_filter == "False" %}
                                    <option>True</option>
                                    <option selected="selected">False</option>
                                {% else %}
                                    <option>True</option>
                                    <option>False</option>
                                {% endif%}
                            </select>
                        </th>
                        <th>Disposal Authority</th>
                        <th>Retention and Disposal</th>
                        <th>UBCS</th>
                        <th>Sensitivity
                            {% renderSelect id="sensitivity" filter=sensitivity_filter list_name="sensitivities" %}
                            {% endrenderSelect %}
                        </th>
                        <th>System Type
                            {% renderSelect id="system_type" filter=system_type_filter list_name="system_types" %}
                            {% endrenderSelect %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                        <tr>
                            <td id="sticky-col">
                                <p style="width:10dvw;max-width:30ch;min-width:8ch">
                                    <b>{{obj.system_id_name}}</b>
                                </p>
                            </td>
                            <td style="white-space:nowrap">
                                {{ obj.status}}
                            </td>
                            <td>
                                <p style = "width:40ch">
                                    {{ obj.division}}
                                </p>
                            </td>
                            <td>
                                <p style = "width:50ch">
                                    {{obj.description|default_if_none:""}}
                                </p>
                            </td>
                            <td>
                                <a href="{{ obj.link |default_if_none:"" }}">{{obj.link | default_if_none:""}}</a>
                            </td>
                            <td>
                                {{ obj.business_service_owner.name |default_if_none:"" }}
                                <br>
                                <a href="mailto:{{ obj.business_service_owner.email |default_if_none:"" }}">{{ obj.business_service_owner.email |default_if_none:"" }}</a>
                                <br>
                                {% if obj.business_service_owner.mobile_phone %}<a href="tel:{{ obj.business_service_owner.mobile_phone }}">{{ obj.business_service_owner.mobile_phone }}</a>{% endif %}
                            </td>
                            <td>
                                {{ obj.system_owner.name |default_if_none:"" }}
                                <br>
                                <a href="mailto:{{ obj.system_owner.email |default_if_none:"" }}">{{ obj.system_owner.email |default_if_none:"" }}</a>
                                {% if obj.system_owner.mobile_phone %}<br><a href="tel:{{ obj.system_owner.mobile_phone }}">{{ obj.system_owner.mobile_phone }}</a>{% endif %}
                            </td>
                            <td>
                                {{ obj.technology_custodian.name |default_if_none:"" }}
                                <br>
                                <a href="mailto:{{ obj.technology_custodian.email |default_if_none:"" }}">{{ obj.technology_custodian.email |default_if_none:"" }}</a>
                                {% if obj.technology_custodian.mobile_phone %}<br><a href="tel:{{ obj.technology_custodian.mobile_phone }}">{{ obj.technology_custodian.mobile_phone }}</a>{% endif %}
                            </td>
                            <td>
                                {{ obj.information_custodian.name |default_if_none:"" }}
                                <br>
                                <a href="mailto:{{ obj.information_custodian.email |default_if_none:"" }}">{{ obj.information_custodian.email |default_if_none:"" }}</a>
                                {% if obj.information_custodian.mobile_phone %}<br><a href="tel:{{ obj.information_custodian.mobile_phone }}">{{ obj.information_custodian.mobile_phone }}</a>{% endif %}
                            </td>
                            <td style="white-space:nowrap">
                                {{obj.seasonality|default_if_none:""}}
                            </td>
                            <td style="white-space:nowrap">
                                {{obj.availability|default_if_none:""}}
                            </td>
                            <td>
                                <p style = "width:50ch; overflow-wrap: break-word">
                                    <a href="{{ obj.file_store_link |default_if_none:"" }}">{{obj.file_store_link | default_if_none:""}}</a>
                                </p>
                            </td>
                            <td>
                                {{obj.vital_records|default_if_none:"False"}}
                            </td>
                            <td>
                                {{obj.disposal_authority|default_if_none:""}}
                            </td>
                            <td>
                                {{obj.retention_and_disposal|default_if_none:""}}
                            </td> 
                            <td>
                                {{obj.ubcs|default_if_none:""}}
                            </td>        
                            <td style="white-space:nowrap">
                                {{obj.sensitivity|default_if_none:""}}
                            </td>         
                            <td style="white-space:nowrap">
                                {{obj.system_type|default_if_none:""}}
                            </td>       
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if object_count == 0 %}
            <div class="d-flex col pt-5 justify-content-center">
                <div class="d-flex row pt-5 align-items-center">
                    <h2 class="text-center text-secondary">No results found</h2>
                    <p class="text-center text-secondary">Check your search spelling or try different filters</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock page_content %}
{% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" \
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    {{block.super}}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js" 
        integrity="sha512-l97jKm0MQeIX6OolYay6IlA3Y2KpGh+4/hm8pLSKmQkFwLFkhk7hhWfzGEyqmfetG30G4i4Bo7RHNwMWgEpSLA==" 
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script>
        function clearField(field){
            document.getElementById(field).value='';
            document.getElementById('filters').submit();
        }
        function toggleField(id){
            element = document.getElementById(id);
            if (element.style.display != "none"){
                element.style.display = "none";
            }
            else {
                element.style.display = "block";
            }
        }
        $(document).ready(function () {
            $(".select2").select2({
                dropdownAutoWidth: true,
                templateSelection: function(){return ""},
                width: '3ch'
            });
        });
    </script>
{% endblock %}