<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {% block head_js %}
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/foundation/6.2.4/foundation.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/datatables/1.10.12/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/datatables/1.10.12/js/dataTables.foundation.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/datatables-fixedheader/2.1.1/dataTables.fixedHeader.min.js"></script>
        {% endblock %}
        {% block head_css %}
        <link rel="stylesheet" type="text/css" media="all" href="//static.dbca.wa.gov.au/static/libs/foundation/6.2.4/foundation-flex.css">
        <link rel="stylesheet" type="text/css" href="//static.dbca.wa.gov.au/static/libs/datatables/1.10.12/css/dataTables.foundation.min.css"/>
        {% endblock %}
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
