<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Transfer User Account - Office for Information Management - Department of Biodiversity, Conservation and Attractions</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/localforage/1.3.1/localforage.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/foundation/6.1.2/foundation.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/foundation-datepicker/1.5.0/js/foundation-datepicker.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/js/egg.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="//static.dbca.wa.gov.au/static/fonts/Lato2OFLWeb/Lato/latofonts.css" />
        <link rel="stylesheet" type="text/css" media="all" href="//static.dbca.wa.gov.au/static/libs/foundation/6.1.2/foundation-flex.css">
        <link rel="stylesheet" type="text/css" media="all" href="//static.dbca.wa.gov.au/static/cdnjs/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
        <link rel="stylesheet" type="text/css" media="all" href="//static.dbca.wa.gov.au/static/libs/foundation-datepicker/1.5.0/css/foundation-datepicker.min.css" />
    </head>
    <div id='notification-topbar'></div>
<body>

<form method="POST" target="_blank">
    <input name="Subject" hidden="true" value="Transfer User Account (OIM-S002)">
    <div class="row">
        <div class="columns">
            <label><b>* Account holder email</b> <input name="1.1 Account Holder" type="email" placeholder="john.smith@dbca.wa.gov.au" required="true" aria-describedby="account-holder-help"></label>
            <p class="help-text" id="account-holder-help">Email address of the account holder.</p>
            <label><b>* Title</b> <input name="1.2 Title" type="text" required="true" placeholder="Job title"></label>
            <label><b>* Manager email</b> <input name="1.3 Manager Email" type="email" required="true" placeholder="manager.email@dbca.wa.gov.au"></label>
            <label>
                <b>* Location / Site</b>
                <select name="1.4 Location / Site" id="id-select-location" required></select>
            </label>
            <label>Allocated devices: <textarea name="1.5 Allocated devices" placeholder="PC: DBCA-1AB2C, Tel: (08) 9219 0000, Mobile: 0400 000 000" aria-describedby="allocated-device-help"></textarea></label>
            <p class="help-text" id="allocated-device-help">Please provide the host name(s) of the department computers, and desk/mobile phone numbers where available, these will be transferred to the new cost centre.</p>
            <label><b>* Cost Centre resource access</b> <textarea name="1.6 Cost Centre Resources" placeholder="folder: \\corporateict\dfs\..., mailbox (full access): cases@baker.st, ..."></textarea></label>
            <p class="help-text">Please list all cost centre resources this account should have access to using the following format guide. This
                includes shared folders, shared mailboxes, email distribution lists and calendar access.
                <ul>
                    <li>folder: \\corporateict\dfs\shareddata\...</li>
                    <li>mailbox (send as or full access): email@dbca.wa.gov.au</li>
                    <li>mailinglist: mylist@dbca.wa.gov.au</li>
                    <li>calendar (user or manager): calendar name</li>
                </ul>
            </p>
       </div>
        <div class="columns">
            <label><b>* Division that user is moving from</b><select name="2.1 Old Division" id="id-select-division-from" required></select></label>
            <label><b>* Organisation unit that user is moving from</b><select name="2.2 Old Organisation Unit" id="id-select-orgunit-from" required></select></label>
            <label><b>* Cost Centre that user moving from</b> <input name="2.3 Old cost centre" type="text" placeholder="890" required></label>
            <label><b>* Division that user is moving to</b><select name="2.4 New Division" id="id-select-division-to" required></select></label>
            <label><b>* Organisation unit that user is moving to</b><select name="2.5 New Organisation Unit" id="id-select-orgunit-to" required></select></label>
            <label><b>* Cost Centre that user moving to</b> <input name="2.6 New cost centre" type="text" placeholder="436" required></label>
            <label><b>* Date of transfer</b> <input name="2.7 Account transfer date" type="date" placeholder="31/01/2018" required></label>
            <input name="2.8 Retain previous cost centre access" value="Please attach authorisation from the previous cost centre manager." id="retainaccess" type="checkbox"><label for="retainaccess">Retain previous cost centre access</label>
            <p class="help-text">Authorisation from previous cost centre manager is required to be attached as evidence.</p>
            <h4>Approval</h4>
            <fieldset class="fieldset">
                <legend>Approval from receiving Cost Centre Manager</legend>
                <p>I confirm the requirements for the transfer of the IT user account have been met. I authorise the transfer of the IT User Account.<p>
                <label><b>* Name</b> <input name="2.9 Cost Centre Manager approval" required="true" type="text" placeholder="CC Manager Name"></label>
                <label><b>* Date</b> <input name="2.10 Date of approval" required="true" type="date"></label>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="columns"></div>
        <div class="columns shrink">
            <button type="submit" class="button expanded">Email form</button>
            <p class="help-text">Send a copy of this form content to yourself for review</p>
        </div>
    </div>
</form>

<script>
    $(function () {
        var url = "/api/options/";
        // Initialise the location select list.
        var filters = {"list": "location"};
        $.ajax({
            type: "GET",
            url: url,
            data: filters,
            success: function (data) {
                var el = $("select#id-select-location").get(0);
                el.disabled = true;
                el.options.length = 0;
                el.options.add(new Option('', ''));
                for (var i in data.objects) {
                    el.options.add(new Option(data.objects[i], data.objects[i]));
                }
                el.disabled = false;
            }
        });

        var filters = {"list": "division"};
        // Initialise the division select list
        $.ajax({
            type: "GET",
            url: url,
            data: filters,
            success: function (data) {
                var el = $("select#id-select-division-from").get(0);
                var el2 = $("select#id-select-division-to").get(0);
                el.disabled = true;
                el.options.length = 0;
                el.options.add(new Option('', ''));
                for (var i in data.objects) {
                    el.options.add(new Option(data.objects[i].name, data.objects[i].id));
                }
                el.disabled = false;
                el2.disabled = true;
                el2.options.length = 0;
                el2.options.add(new Option('', ''));
                for (var i in data.objects) {
                    el2.options.add(new Option(data.objects[i].name, data.objects[i].id));
                }
                el2.disabled = false;
            }
        });

        // Initialise the org unit select lists.
        filters = {"list": "org_unit"};
        $.ajax({
            type: "GET",
            url: url,
            data: filters,
            success: function (data) {
                var el = $("select#id-select-orgunit-from").get(0);
                var el2 = $("select#id-select-orgunit-to").get(0);
                el.disabled = true;
                el.options.length = 0;
                el.options.add(new Option('', ''));
                for (var i in data.objects) {
                    el.options.add(new Option(data.objects[i].name, data.objects[i].id));
                }
                el.disabled = false;
                el2.disabled = true;
                el2.options.length = 0;
                el2.options.add(new Option('', ''));
                for (var i in data.objects) {
                    el2.options.add(new Option(data.objects[i].name, data.objects[i].id));
                }
                el2.disabled = false;
            }
        });

        // Change event for the division select lists.
        // DRY violation? Who cares!
        $("select#id-select-division-from").on("change", function() {
            filters = {"list": "org_unit", "parent_id": this.value};
            $.ajax({
                type: "GET",
                url: url,
                data: filters,
                success: function (data) {
                    var el = $("select#id-select-orgunit-from").get(0);
                    el.disabled = true;
                    el.options.length = 0;
                    el.options.add(new Option('', ''));
                    for (var i in data.objects) {
                        el.options.add(new Option(data.objects[i].name, data.objects[i].id));
                    }
                    el.disabled = false;
                }
            });
        });
        $("select#id-select-division-to").on("change", function() {
            filters = {"list": "org_unit", "parent_id": this.value};
            $.ajax({
                type: "GET",
                url: url,
                data: filters,
                success: function (data) {
                    var el = $("select#id-select-orgunit-to").get(0);
                    el.disabled = true;
                    el.options.length = 0;
                    el.options.add(new Option('', ''));
                    for (var i in data.objects) {
                        el.options.add(new Option(data.objects[i].name, data.objects[i].id));
                    }
                    el.disabled = false;
                }
            });
        });
    });
</script>
</body>
