<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Update User Account - Office for Information Management - Department of Biodiversity, Conservation and Attractions</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/localforage/1.3.1/localforage.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/foundation/6.1.2/foundation.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/libs/foundation-datepicker/1.5.0/js/foundation-datepicker.min.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/js/egg.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="//static.dbca.wa.gov.au/static/fonts/Lato2OFLWeb/Lato/latofonts.css" />
        <link rel="stylesheet" type="text/css" media="all" href="//static.dbca.wa.gov.au/static/libs/foundation/6.1.2/foundation-flex.css">
        <link rel="stylesheet" type="text/css" media="all" href="//static.dbca.wa.gov.au/static/cdnjs/ajax/libs/foundicons/3.0.0/foundation-icons.css" />
        <link rel="stylesheet" type="text/css" media="all" href="//static.dbca.wa.gov.au/static/libs/foundation-datepicker/1.5.0/css/foundation-datepicker.min.css" />
    </head>
	<div id='notification-topbar'></div>
<body>

<style type="text/css">textarea { height: 4em; }</style>
<form method="POST" target="_blank">
    <input name="Subject" hidden="true" value="Update User Account Details (OIM-S003)">
    <input name="helptext" hidden="true" value="Please forward this email to your cost centre manager for approval and submission to OIM Support ( oimsupport@dbca.wa.gov.au )">
    <div class="row">
        <div class="columns">
             <label><b>* Request type</b>
                <select name="1.1 Request Type" id="id-select-request-type" required>
                    <option value="" disabled selected>Select your option</option>
                    <option>Name Change</option>
                    <option>Resource Access Change</option>
                    <option>Title</option>
                    <option>Contract extension / Change of employment type</option>
                    <option>Account Reactivation (suspended accounts)</option>
                    <option>Add Photo</option>
                </select>
            </label>
            <label>
                <b>* Account holder email</b>
                <input name="1.2 Account Holder" type="email" placeholder="jim.smith@dbca.wa.gov.au" required="true" aria-describedby="account-holder-help">
            </label>
            <p class="help-text" id="account-holder-help">Email address of the account holder.</p>
            <label><b>* Person's name</b><input name="1.3 Persons Name" type="text"placeholder="James Smith" required></label>
            <p class="help-text" id="account-holder-help">Person's name should be legal first name and last name.</p>
            <label>Preferred name <input name="1.4 Preferred Name" type="text" placeholder="Jim"></label>
            <label><b>* Position title</b><input name="1.5 Position Title" type="text"placeholder="Park Ranger" required></label>
            <label>
                Location / Site
				<select name="1.6 Location / Site" id="id-select-location"></select>
            </label>
            <label><b>* Manager email</b> <input name="1.7 Manager email" type="email" placeholder="manager.user@dbca.wa.gov.au" required="true" aria-describedby="managers-email-help"></label>
            <label>Allocated devices <textarea name="1.8 Allocated devices" placeholder="PC: DBCA-1AB2C, Tel: (08) 9219 0000, Mobile: 0400 000 000" aria-describedby="allocated-device-help"></textarea></label>
            <p class="help-text" id="allocated-device-help">Please provide the host name(s) of the department computers, and desk/mobile phone numbers where available</p>
            <input name="1.9 User profile photo attached" id="profilephoto" type="checkbox"><label for="profilephoto">User profile photo attached</label>
            <p class="help-text">User profile photo's can optionally be attached to this form email, ensuring the photo is a square JPG no larger
                than 1MB of a passport style headshot.</p>
        </div>
        <div class="columns">
            <legend>Full / part time</legend>
            <fieldset>
                <input type="radio" name="2.1 Full part time" value="Full time"><label>Full time</label>
                <input type="radio" name="2.1 Full part time" value="Part time"><label>Part time</label>
            </fieldset>
            <label>Employment type
                <select name="2.2 Employment type" id="id-select-employment-type">
                    <option value="" disabled selected>Select employment type</option>
                    <option>Permanent</option>
                    <option>Agency Contract</option>
                    <option>Department Fixed Term</option>
                    <option>Seasonal</option>
                    <option>Vendor</option>
                    <option>Volunteer</option>
                    <option>Other/Alumni</option>
                </select>
            </label>
            <label>End date <input name="2.3 End Date" type="date" placeholder="31/01/2018" id="input-end-date" disabled></label>
            <label>Cost Centre resource access
            <fieldset>
                <input type="radio" name="2.4 Resource Access add/remove" value="Add access" id="addaccess"><label for="addaccess">Add Access</label>
                <input type="radio" name="2.4 Resource Access add/remove" value="Remove access" id="removeaccess"><label for="removeaccess">Remove Access</label>
            </fieldset>
            <textarea name="2.5 Cost Centre Resources" placeholder="folder: \\corporateict\dfs\..., mailbox (full access): cases@baker.st, ..."></textarea></label>
            <p class="help-text">Please list all cost centre resources to change access to using the following format guide. This
                includes shared folders, shared mailboxes, email distribution lists and calendar access.
                <ul>
                    <li>folder: \\corporateict\dfs\shareddata\...</li>
                    <li>mailbox (send as or full access): email@dbca.wa.gov.au</li>
                    <li>mailinglist: mylist@dbca.wa.gov.au</li>
                    <li>calendar (user or manager): calendar name</li>
                </ul>
            </p>
            <h4>Approval</h4>
            <fieldset class="fieldset">
                <legend>Approval from Cost Centre Manager</legend>
                <p>I confirm that I have read the information above and understand my role and responsibilities as a cost centre manager, as it relates to the update user account details process</p>
                <label><b>* Name</b> <input name="2.6 Cost Centre Manager approval" required="true" type="text" placeholder="CC Manager Name"></label>
                <label><b>* Date</b> <input name="2.7 Date of approval" required="true" type="date" placeholder="31/01/2017"></label>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="columns"></div>
        <div class="columns shrink">
            <button type="submit" class="button expanded">Email form</button>
            <p class="help-text">Send a copy of this form content to yourself for review</p>
        </div>
    </div>
</form>

<script>
    $(function () {
        var url = "/api/options/";
        // Initialise the location select list
        var filters = {"list": "location"};
        $.ajax({
            type: "GET",
            url: url,
            data: filters,
            success: function (data) {
                var el = $("select#id-select-location").get(0);
                el.disabled = true;
                el.options.length = 0;
                el.options.add(new Option('', ''));
                for (var i in data.objects) {
                    el.options.add(new Option(data.objects[i], data.objects[i]));
                }
                el.disabled = false;
            }
        });

        // Change event for the employment type select list
        $("select#id-select-employment-type").on("change", function() {
            var el = $("#input-end-date").get(0);
            if (this.value == "Permanent") {
                el.value = '';
                el.disabled = true;
                el.required = false;
            } else {
                el.disabled = false;
                el.required = true;
            }
        });
    });
</script>

</body>
