apiVersion: apps/v1
kind: Deployment
metadata:
  name: itassets-deployment
spec:
  template:
    spec:
      containers:
        - name: itassets
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: itassets-env-prod
