{% load static %}
{% load changerequest_markdown %}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Change title</th>
        <td>{{ object.title }}</td>
    </tr>
    <tr>
        <th>Change type</th>
        <td>{{ object.get_change_type_display }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ object.get_status_display }}</td>
    </tr>
    {% if object.standard_change %}
    <tr>
        <th>Standard change ref.</th>
        <td>{{ object.standard_change }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Requester</th>
        <td>{{ object.requester.get_full_name }}</td>
    </tr>
    <tr>
        <th>Endorser</th>
        <td>{{ object.endorser.get_full_name }}</td>
    </tr>
    <tr>
        <th>Implementer</th>
        <td>{{ object.implementer.get_full_name }}</td>
    </tr>
    {% if object.description %}
    <tr>
        <th>Description</th>
        <td>{{ object|change_markdown:"description"|safe }}</td>
    </tr>
    {% endif %}
    {% if object.initiative_name %}
    <tr>
        <th>Tactical roadmap initiative</th>
        <td>{{ object.initiative_name }}</td>
    </tr>
    {% endif %}
    {% if object.initiative_no %}
    <tr>
        <th>Initiative number</th>
        <td>{{ object.initiative_no }}</td>
    </tr>
    {% endif %}
    {% if object.project_no %}
    <tr>
        <th>Project number</th>
        <td>{{ object.project_no }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Test date</th>
        <td>{% if object.test_date %}{{ object.test_date }}{% endif %}</td>
    </tr>
    <tr>
        <th>Planned start date & time</th>
        <td>{% if object.planned_start %}{{ object.planned_start|date:"D, j M Y H:i" }}{% endif %}</td>
    </tr>
    <tr>
        <th>Planned end date & time</th>
        <td>{% if object.planned_end %}{{ object.planned_end|date:"D, j M Y H:i" }}{% endif %}</td>
    </tr>
    <tr>
        <th>Outage duration (hh:mm:ss)</th>
        <td>{% if object.outage is not None %}{{ object.outage }}{% else %}Not applicable{% endif %}</td>
    </tr>
    <tr>
        <th>Completed date & time</th>
        <td>{% if object.completed %}{{ object.completed|date:"D, j M Y H:i" }}{% endif %}</td>
    </tr>
{% if user_authorised %}
    <tr>
        <th>Implementation instructions</th>
        <td>
        {% if object.implementation %}
        {{ object|change_markdown:"implementation"|safe }}
        {% endif %}
        <br>
        {% if object.implementation_docs %}
        Uploaded instructions: <a href="{% get_media_prefix %}{{ object.implementation_docs.name }}">{{ object.implementation_docs_filename }}</a>
        {% endif %}
        </td>
    </tr>
    <tr>
        <th>Communication instructions</th>
        <td>
        {% if object.communication %}
        {{ object|change_markdown:"communication"|safe }}
        {% endif %}
        <br>
        {% if object.broadcast %}
        Uploaded broadcast: <a href="{% get_media_prefix %}{{ object.broadcast.name }}">{{ object.broadcast_filename }}</a>
        {% endif %}
        </td>
    </tr>
    {% if object.notes %}
    <tr>
        <th>Notes</th>
        <td>{{ object.notes }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>IT Systems affected</th>
        <td>{{ object.systems_affected }}</td>
    </tr>
{% endif %}
</table>
