{% extends "base_b4.html" %}
{% load crispy_forms_tags %}

{% block extra_style %}
{{ block.super }}
<!-- Kind of dumb, but tempusdominus uses the FA v4.7 CSS for its icons. -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-PMjWzHVtwxdq7m7GIxBot5vdxUY+5aKP9wpKtvnNBZrVv1srI8tU6xvFMzG8crLNcMj/8Xl/WWmo/oAP/40p1g==" crossorigin="anonymous" />
{% endblock %}

{% block page_content_inner %}
<div class="row">
    <div class="col">
        <h1>{{ page_title }}</h1>
        <p>Please record the outcome of the change request implementation below, plus any additional relevant details.</p>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">Please correct the error(s) below.</div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col">
        {% include 'registers/changerequest_table.html' %}
    </div>
</div>

<div class="row">
    <div class="col">
        {% crispy form %}
    </div>
</div>
{% endblock %}

{% block jquery_version %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-2JBCbWoMJPH+Uj7Wq5OLub8E5edWHlTM4ar/YJkZh3plwB2INhhOC3eDoqHm1Za/ZOSksrLlURLoyXVdfQXqwg==" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        $('#id_completed').datetimepicker({format: 'DD-MM-YYYY HH:mm'});
    });
</script>
{% endblock %}
