{% extends "base.html" %}

{% block extra_head %}
<title>Change request #{{ object }}</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="{% url 'change_request_list' %}" role="button"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> All change requests</a></a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Change request #{{ object }}</h1>
    </div>
</div>

{% if object.is_draft and not object.is_emergency_change and object.requester.email == request.user.email %}
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="{% url 'change_request_change' object.pk %}" role="button">Update / submit change request</a></a>
    </div>
</div>
<br>
{% endif %}

{% if object.is_submitted and object.endorser.email == request.user.email %}
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="{% url 'change_request_endorse' object.pk %}" role="button">Endorse / reject change request</a></a>
    </div>
</div>
<br>
{% endif %}

{% if may_complete %}
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="{% url 'change_request_complete' object.pk %}" role="button">Record change request outcome</a></a>
    </div>
</div>
<br>
{% endif %}

{% if object.is_emergency_change and user_authorised and not object.completed %}
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="{% url 'change_request_change' object.pk %}" role="button">Update details</a></a>
    </div>
</div>
<br>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        {% include 'registers/changerequest_table.html' %}

        {% if object.changelog_set.exists and user_authorised %}
            <h2>Actions log</h2>
            <table class="table table-striped table-bordered table-condensed">
                {% for log in object.changelog_set.all %}
                <tr>
                    <td>{{ log.created|date:"D, j M Y H:i" }}</td>
                    <td>{{ log.log }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
