{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <h1>{{ title }}</h1>
        <p>Please review the details of the change request below, and then click "Approve" or "Reject"
        to indicate whether the change is endorsed for subsequent review and approval at CAB.</p>
        <p>Approved changes will be logged and forwarded to CAB for review, while rejected changes
        will be returned to the requester as drafts.</p>
        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>Change title</th>
                <td>{{ object.title }}</td>
            </tr>
            <tr>
                <th>Change type</th>
                <td>{{ object.get_change_type_display }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ object.get_status_display }}</td>
            </tr>
            {% if object.standard_change %}
            <tr>
                <th>Standard change ref.</th>
                <td>{{ object.standard_change.pk }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Requester</th>
                <td>{{ object.requester.get_full_name }}</td>
            </tr>
            <tr>
                <th>Approver</th>
                <td>{{ object.approver.get_full_name }}</td>
            </tr>
            <tr>
                <th>Implementer</th>
                <td>{{ object.implementer.get_full_name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ object.description }}</td>
            </tr>
            <tr>
                <th>Test date</th>
                <td>{% if object.test_date %}{{ object.test_date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Planned start date & time</th>
                <td>{% if object.planned_start %}{{ object.planned_start }}{% endif %}</td>
            </tr>
            <tr>
                <th>Planned end date & time</th>
                <td>{% if object.planned_end %}{{ object.planned_end }}{% endif %}</td>
            </tr>
            <tr>
                <th>Outage duration (hh:mm:ss)</th>
                <td>{% if object.outage %}{{ object.outage }}{% endif %}</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {% crispy form %}
    </div>
</div>
{% endblock %}
