{% extends "base_b4.html" %}
{% load crispy_forms_tags %}
{% load changerequest_markdown %}

{% block page_content_inner %}
<div class="row">
    <div class="col">
        <h1>{{ page_title }}</h1>
        <p><strong>Title:</strong> {{ object.title }}</p>
        <p><strong>Implementer:</strong> {{ object.implementer.get_full_name }} ({{ object.implementer.email }})</p>
        <p><strong>Affected systems:</strong> {{ object.systems_affected }}</p>
        <p><strong>Planned start:</strong> {% if object.planned_start %}{{ object.planned_start|date:"D, j M Y H:i" }}{% endif %}</p>
        <p><strong>Planned end:</strong> {% if object.planned_end %}{{ object.planned_end|date:"D, j M Y H:i" }}{% endif %}</p>
        {% if object.description %}
        <p><strong>Description:</strong></p>
        <p>{{ object|change_markdown:"description"|safe }}</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col">
        {% crispy form %}
    </div>
</div>
{% endblock %}
