{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
<script>
    $(function () {
        $('.dateinput').datetimepicker({
            format: 'DD-MM-YYYY',
        });
        $('.datetimeinput').datetimepicker({
            format: 'DD-MM-YYYY HH:mm',
        });
        $('.select-user-choice').select2({
          minimumInputLength: 3,
          ajax: {
            url: '/api/user-select/',
            delay: 250,
            processResults: function (data) {
              return {
                results: data.objects
              };
            }
          }
        });
        $('select#id_it_systems').select2();
    });
</script>
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <h1>{{ title }}</h1>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">Please correct the error(s) below.</div>
        {% endif %}
        {% crispy form %}
    </div>
</div>
{% endblock %}
