{% extends "base.html" %}

{% block extra_head %}
<title>{{ format }} change calendar ({{ start|date:"D, j M Y" }})</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="{% url 'change_request_list' %}" role="button">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span> All change requests</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{ format }} change calendar starting {{ start|date:"l, j F Y" }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <a href="{% url 'change_request_calendar' date=date_last %}" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</a>
    </div>
    <div class="col-xs-6">
        <a href="{% url 'change_request_calendar' date=date_next %}" class="btn btn-info pull-right">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Forward</a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
    {% if object_list %}
        <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Change ref.</th>
                    <th>Title</th>
                    <th>Change type</th>
                    <th>Status</th>
                    <th>Requester</th>
                    <th>Endorser</th>
                    <th>Implementer</th>
                    <th>Planned start & end</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.pk }}</td>
                    <td><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></td>
                    <td>{{ object.get_change_type_display }}</td>
                    <td>{{ object.get_status_display }}</td>
                    <td>{{ object.requester.get_full_name }}</td>
                    <td>{{ object.endorser.get_full_name }}</td>
                    <td>{{ object.implementer.get_full_name }}</td>
                    <td>{{ object.planned_start|date:"D, j M Y H:i" }}<br>{{ object.planned_end|date:"D, j M Y H:i" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No changes planned.</p>
    {% endif %}
    </div>
</div>

{% endblock %}
