<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script async type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <h1>Incident {{ object }} - {{ object.status|capfirst }}</h1>
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <th>Incident no.</th>
                    <td>{{ object.pk }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ object.status|capfirst }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ object.description }}</td>
                </tr>
                <tr>
                    <th>Priority</th>
                    <td>{{ object.get_priority_display }}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ object.get_category_display|default_if_none:""  }}</td>
                </tr>
                <tr>
                    <th>Start time</th>
                    <td>{{ object.start }}</td>
                </tr>
                <tr>
                    <th>Resolution time</th>
                    <td>{{ object.resolution|default_if_none:"" }}</td>
                </tr>
                <tr>
                    <th>System(s) affected</th>
                    <td>{{ object.systems_affected }}</td>
                </tr>
                <tr>
                    <th>Location(s)</th>
                    <td>{{ object.locations_affected }}</td>
                </tr>
                <tr>
                    <th>Incident manager</th>
                    <td>{{ object.manager.get_full_name }}</td>
                </tr>
                <tr>
                    <th>Incident owner</th>
                    <td>{{ object.owner.get_full_name }}</td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td>{% if object.url %}<a href="{{ object.url }}">{{ object.url }}</a>{% endif %}</td>
                </tr>
            </table>

            {% if object.incidentlog_set.exists %}
            <h2>Incident log</h2>
            <table class="table table-striped table-bordered table-condensed">
                {% for log in object.incidentlog_set.all %}
                <tr>
                    <td>{{ log.created }}</td>
                    <td>{{ log.log }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </body>
</html>
