<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script async type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <title>IT Incidents</title>
    </head>

    <body>
        <div class="container">

            <div class="row">
			  <div class="col-xs-12">
                <h1>IT Incidents</h1>
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Incident no.</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Priority</th>
                            <th>Start time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.status|capfirst }}</td>
                            <td>{{ object.description }}</td>
                            <td>{{ object.get_priority_display }}</td>
                            <td>{{ object.start }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			  </div>
            </div>

			<div class="row">
			  <div class="col-xs-12">
				<section class="paginator text-center">
				  <nav>
					<ul class="pagination">
					  <li>
						{% if page_obj.has_previous %}
						  <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">Previous</a>
						{% endif %}
					  </li>
					  {% for page_num in paginator.page_range %}
						{% ifequal paginator.number page_num %}
						<li class="active">
						  <a href="?page={{ page_num }}">{{ page_num }}</a>
						</li>
						{% else %}
						<li>
						  <a href="?page={{ page_num }}">{{ page_num }}</a>
						</li>
						{% endifequal %}
					  {% endfor %}
					  <li>
						{% if page_obj.has_next %}
						  <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next</a>
						{% endif %}
					  </li>
					</ul>
				  </nav>
				</section>
			  </div>
			</div>

        </div>
    </body>
</html>
