{% extends "base_b4.html" %}

{% block page_content_inner %}
<h1>{{ page_title }}</h1>

<dl class="row">

    <dt class="col-sm-2">Risk assessment</dt>
    <dd class="col-sm-10">
        A risk that has been evaluated for an IT System, either manually or automatically using business rules.
        A risk will belong to a category.
    </dd>

    <dt class="col-sm-2">IT System</dt>
    <dd class="col-sm-10">
        An IT System is made up of a collection of technology components (hardware, software and telecommunication)
        that enable and protect the lifecycle and transmission of digital information which support the business
        services of the department.
    </dd>

    <dt class="col-sm-2">Platform</dt>
    <dd class="col-sm-10">
        A platform is the primary element of infrastructure used to provide an IT System. It is a simplified
        description of the infastructure, used for classification and assessment purposes.
    </dd>

</dl>

<h2>Platform</h2>

<p>Platforms are assessed and classified as having one of the following levels of risk:</p>

<div class="alert alert-success">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Recommended
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This platform is recommended by OIM as the current preferred choice to provide the IT System.
        </dd>
    </dl>
</div>

<div class="alert alert-info">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Supported
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This platform is not the first choice to provide the IT System but has a good level of support available.
        </dd>
    </dl>
</div>

<div class="alert alert-warning">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Constrained
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This platform is not a recommended choice to provide the IT System due to having some level of constraint,
            such as the availability of support.
        </dd>
    </dl>
</div>

<div class="alert alert-danger">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            High risk
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This platform is not a recommended choice to provide the IT System due to being identifed as high risk.
            It may be past end-of-life and due for replacement, have serious vulnerabilities identified,
            or otherwise have limited support available.
        </dd>
    </dl>
</div>

<h2>Critical function</h2>

<p>
    IT Systems may be identified as important for providing a department function considered as "critical"
    (commercial service, fire service or visitor service).
</p>

<div class="alert alert-warning">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Constrained
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This IT System is required to provide a critical function within the department.
        </dd>
    </dl>
</div>

<h2>Traffic</h2>

<p>
    IT Systems that are accessible or used via the internet may receive a varying amount of traffic.
    In this instance, the average number of daily HTTP requests is measured. Traffic to systems
    can vary signficantly over days, weeks and seasons, so traffic is aggregated over the previous
    28 days and a representative sample is used to calculate the average.
</p>

<div class="alert alert-success">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Minimal
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This system receives fewer than 100 requests / day.
        </dd>
    </dl>
</div>

<div class="alert alert-info">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Low
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This system receives between 100 and 1000 requests / day.
        </dd>
    </dl>
</div>

<div class="alert alert-warning">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Moderate
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This system receives between 1000 and 10000 requests / day.
        </dd>
    </dl>
</div>

<div class="alert alert-danger">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            High
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This system receives greater than 10000 requests / day.
        </dd>
    </dl>
</div>

<h2>Access</h2>

<p>
    IT Systems that are accessible or used via the internet may require authentication in order
    to be used by staff members. OIM has implemented a network-level access restriction that requires
    staff to be signed into Microsoft Office 365 prior to using an IT system, which represents
    the recommended level of access control. This restriction is not suitable for all web applications
    (e.g. systems that are accessed by members of the public), therefore it is not possible or
    appropriate to apply it to all systems.
</p>

<div class="alert alert-success">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Recommended
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The root location of this web application is restricted behind O365 single-sign-on.
        </dd>
    </dl>
</div>

<div class="alert alert-warning">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Constrained
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The root location of this web application is not restricted behind O365 single-sign-on.
        </dd>
    </dl>
</div>

<h2>Backups</h2>

<p>
    IT Systems may have a method for data backup and restore recorded and assessed. Where there is no
    regime of backups recorded for a system, this is noted as a risk.
</p>

<div class="alert alert-success">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Recommended
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The IT system has a backup regime of at least daily local snapshots, with point-in-time database recovery.
        </dd>
    </dl>
</div>

<div class="alert alert-info">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Managed
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The IT system has a backup regime of at least daily local snapshots, or backups are vendor-managed.
        </dd>
    </dl>
</div>

<div class="alert alert-warning">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Constrained
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The IT system does not have a backup regime recorded.
        </dd>
    </dl>
</div>

<h2>Support</h2>

<p>
    IT Systems may have a business hours support contact recorded. Where there is no support contact
    recorded, this is noted as a risk.
</p>

<div class="alert alert-success">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Recommended
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The IT system has a business hours support contact recorded.
        </dd>
    </dl>
</div>

<div class="alert alert-warning">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Constrained
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The IT system has no business hours support contact recorded.
        </dd>
    </dl>
</div>

<h2>Operating System</h2>

<p>
    IT Systems are served by a variety of computing resources, each having an operating system (OS).
    Host OSs may be supported by a vendor with security patches and upgrades, or they may be past
    their end-of-life and not longer supported. Where a system's host OS is past end-of-life, this
    is noted as a high risk as it will no longer receive security patches.
</p>

<div class="alert alert-success">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Recommended
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The system's host OS is supported by the vendor.
        </dd>
    </dl>
</div>
<div class="alert alert-danger">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            High risk
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The system's host OS is past end-of-life and no longer supported by the vendor.
        </dd>
    </dl>
</div>

<h2>Vulnerability</h2>

<p>
    IT Systems are served by a variety of computing resources, some of which can be scanned and assessed
    automatically for whole security vulnerabilities. Where is system's host has been scanned in this
    manner and security vulnerabilities identified, this is noted as a risk. Not all hosts can be
    scanned in this manner, and scans can not identify all security vulnerabilities.
</p>

<div class="alert alert-success">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Recommended
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This system host has been subject to automated vulnerability scanning.
        </dd>
    </dl>
</div>

<div class="alert alert-info">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Supported
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This system host has been scanned for vulnerabilities and one or more of 'Medium' risk was identified.
        </dd>
    </dl>
</div>

<div class="alert alert-warning">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Constrained
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This system host has been scanned for vulnerabilities and one or more of 'High' risk was identified.
        </dd>
    </dl>
</div>

<div class="alert alert-danger">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            High risk
        </dt>
        <dd class="col-xs-8 col-sm-10">
            This system host has been scanned for vulnerabilities and one or more of 'Critical' risk was identified.
        </dd>
    </dl>
</div>

<h2>Contingency plan</h2>

<p>
    IT Systems may have a contingency plan recorded. Where this in not recorded, this is noted as a risk.
</p>

<div class="alert alert-success">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Recommended
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The IT system has a contingency plan recorded.
        </dd>
    </dl>
</div>

<div class="alert alert-warning">
    <dl class="row">
        <dt class="col-xs-4 col-sm-2">
            Constrained
        </dt>
        <dd class="col-xs-8 col-sm-10">
            The IT system does not have a contingency plan recorded.
        </dd>
    </dl>
</div>

{% endblock %}
