{% extends "base_b4.html" %}

{% block page_content_inner %}
<div class="row">
    <div class="col">
        <h1>{{ page_title }}</h1>
        <p>
            <a href="{% url 'change_request_list' %}" class="btn btn-info"><i class="fas fa-list"></i> Change request register</a>
            <a href="{% url 'change_request_calendar' %}" class="btn btn-success"><i class="far fa-calendar"></i> Change calendar</a>
        </p>
    </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
