{% extends "admin/base_site.html" %}
{% load admin_list i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin">
    Home
  </a>
   &rsaquo;
   <a href="/admin/assets">
     Assets
  </a>
  &rsaquo;
   <a href="/admin/assets/asset">
     Assets
  </a>
  &rsaquo;
  Import
</div>
{% endblock %}

{% block content %}

<h4>There were problems with your import.</h4>

<p>The following problems must be resolved to continue.</p>

<ul>
    {% for error in errors %}
    <li>{{ error|safe }}</li>
    {% endfor %}
</ul>

{% if warnings %}
<p>The following warnings were also generated during validation. These will not prevent the import process from proceeding, though they may cause results you do not expect.</p>

<ul>
    {% for warning in warnings %}
    <li>{{ warning|safe }}</li>
    {% endfor %}
</ul>

{% endif %}

{% if notes %}
<p>The following other notifications were generated:</p>

<ul>
    {% for note in notes %}
    <li>{{ note|safe }}</li>
    {% endfor %}
</ul>

{% endif %}

<a href="">Try again!</a>

{% endblock %}
