{% extends "webtemplate_dbca/base.html" %}
{% load static %}
{% block extra_style %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/fontawesome.min.css"
          integrity="sha512-M5Kq4YVQrjg5c2wsZSn27Dkfm/2ALfxmun0vUE3mPiJyK53hQBHYCVAtvMYEC7ZXmYLg8DVG4tF8gD27WmDbsg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
{% endblock %}
{% block navbar_button %}{% endblock %}
{% block navbar_links %}{% endblock %}
{% block page_content %}
    <!-- Breadcrumbs -->
    {% block breadcrumb_nav %}
        {% if breadcrumb_trail %}
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    {{ breadcrumb_trail|safe }}
                </ul>
            </nav>
        {% endif %}
    {% endblock breadcrumb_nav %}
    <div class="container-fluid">
        <!-- Messages  -->
        {% if messages %}
            <div class="row">
                <div class="col">
                    {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                {% block page_content_inner %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block page_footer %}
    <footer class="footer mt-auto py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm">
                    <small>Version: {{ VERSION_NO }}</small>
                </div>
                <div class="col-sm">
                    <small class="float-right">&copy; Department of Biodiversity, Conservation and Attractions</small>
                </div>
            </div>
        </div>
    </footer>
{% endblock page_footer %}
