{% extends "admin/base_site.html" %}

{% block content %}
<h2>There were problems with your import.</h2>
<p>The following problems must be resolved to continue.</p>
<ul>
    {% for error in errors %}
    <li>{{ error|safe }}</li>
    {% endfor %}
</ul>
{% if warnings %}
<p>The following warnings were also generated during validation. These will
not prevent the import process from proceeding, though they may cause results
that you do not expect.</p>
<ul>
    {% for warning in warnings %}
    <li>{{ warning|safe }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if notes %}
<p>The following other notifications were generated:</p>
<ul>
    {% for note in notes %}
    <li>{{ note|safe }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
