{% extends "admin/base_site.html" %}

{% block content %}
<p>This interface lets you bulk-import assets into this database. You will
need a spreadsheet meeting the following criteria:</p>
<ul>
    <li>The first row must consist of a name for each column, selected from
        the list below. The name must exactly match the name in the list.</li>
    <li>The spreadsheet needs to be in CSV format (comma-delimited), so you
        have a .csv file.</li>
    <li>No blank rows or columns in the body of the data.</li>
</ul>
<h2>Valid column names</h2>
<p>Mandatory columns must appear somewhere in the spreadsheet. Other columns
are optional and may be excluded.</p>
<table>
    <tr><td><b>Column name</b></td><td><b>Description</b></td></tr>
    <tr>
        <td><tt>ASSET TAG</tt></td>
        <td>(mandatory) The asset tag of the item (in form ITXXXXX).</td>
    </tr>
    <tr>
        <td><tt>SERIAL</tt></td>
        <td>(mandatory) The asset's serial number.</td>
    </tr>
    <tr>
        <td><tt>DATE PURCHASED</tt></td>
        <td>(mandatory) The purchase date for this asset. Must be in the form dd/mm/yyyy.</td>
    </tr>
    <tr>
        <td><tt>FINANCE ASSET TAG</tt></td>
        <td>(optional) The asset tag of the item as issued by Finance Branch.</td>
    </tr>
    <tr>
        <td><tt>VENDOR</tt></td>
        <td>(optional) The vendor name of the product (eg. Dell).</td>
    </tr>
    <tr>
        <td><tt>MODEL TYPE</tt></td>
        <td>(optional, must match existing value) The hardware model type (eg. Server - Rackmount).</td>
    </tr>
    <tr>
        <td><tt>HARDWARE MODEL</tt></td>
        <td>(optional) The hardware model name (eg. Latitude E6320).</td>
    </tr>
    <tr>
        <td><tt>STATUS</tt></td>
        <td>(optional) The current deployment status of this asset. If not
            provided, this will be set to 'In storage'.</td>
    </tr>
    <tr>
        <td><tt>COST CENTRE</tt></td>
        <td>(optional) The cost centre to which is asset belongs.</td>
    </tr>
    <tr>
        <td><tt>LOCATION</tt></td>
        <td>(optional, must match existing name) The name of the location of this asset.</td>
    </tr>
    <tr>
        <td><tt>PURCHASED VALUE</tt></td>
        <td>(optional) The amount paid for the asset, inclusive of any permanent modules or upgrades.</td>
    </tr>
    <tr>
        <td><tt>ASSIGNED USER</tt></td>
        <td>(optional) The username of the user this asset is assigned to.</td>
    </tr>
    <tr>
        <td><tt>NOTES</tt></td>
        <td>(optional) Any additional notes regarding this asset.</td>
    </tr>
</table>

<h2>File upload</h2>
<p>Select the .csv file in the box below and click upload.</p>

<form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload" />
</form>
{% endblock %}
