{% extends "admin/base_site.html" %}

{% block content %}
<h2>Import complete</h2>
<p>You have successfully imported {{ record_count }} assets. A list of asset details are shown below.
<a href="{% url 'admin:assets_hardwareasset_changelist' %}">Click here</a> to return to the asset list view.</p>
<p>
<table width="25%">
    <tr>
        <td><b>ID</b></td>
        <td><b>IT asset tag</b></td>
        <td><b>Model</b></td>
        <td><b>Serial</b></td>
    </tr>
    {% for asset in assets_created %}
    <tr>
        <td>{{ asset.pk }}</td>
        <td>{{ asset.asset_tag }}</td>
        <td>{{ asset.hardware_model }}</td>
        <td>{{ asset.serial }}</td>
    </tr>
    {% endfor %}
</table>
</p>
{% endblock %}
