<div class="footer_badge" style="height:60px; background-color:#005072;">
    <p style="padding-top:20px; color:#fff;">{% if application_version_no %}v {{ application_version_no }} {% endif %}Copyright 2011 Department of Environment and Conservation</p>
    <style type="text/css">
        a.badge {
            position: fixed;
            display: block;
            height: 50px;
            width: 200px;
            bottom: 5px;
            right: 5px;
            text-indent: -9999em;
            background: #257597 url({{ STATIC_URL }}img/dec_badge.png) top left no-repeat;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
            -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
            -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2) inset;
        }
    </style>
    <a href="http://www.dec.wa.gov.au/" class="badge">Department of Environment and Conservation</a>
</div>
