{% extends "dec_base/base.html" %}

{% block pagetitle %}{{ sitetitle }}{{ pagetitle }}{% endblock %}

{% block layout %}
    <!-- Header -->
    <div class="container site-header" id="site-header"{% if production_site %}{% else %} style="background-color:#E99719;"{% endif %}>
        <div class="row">
            <!-- Logo and site title -->
            <div class="eightcol" id="site-branding">
                <a href="/"><h1 class="site-title" id="site-title">{{ sitetitle }}{% if production_site %}{% else %} ({% if hostenv %}{{ hostenv }}{% else %}non-production{% endif %}){% endif %}</h1></a>
            </div>
            <!-- User tools for logging in/out -->
            <div class="fourcol last" id="site-user-tools">
            {% if request.user.is_authenticated %}
                Welcome <strong>{% firstof request.user.first_name request.user.username %}</strong> | 
                <a href="{% url help_page %}" title="Help">Help</a> | 
                {% if request.user.is_staff %}{% if request.user.is_superuser %}<a href="{% url admin:index %}">Admin site</a> | {% endif %}{% endif %}
                <a href="{% url logout %}">Log out</a>
            {% else %}
            <a href="{% url login %}">Log in</a>
            {% endif %}
            {{ extrasiteheader_html|safe }}
            </div>
        </div>
    </div>

    <!-- Breadcrumbs -->
    <div class="container breadcrumbs" id="breadcrumbs">
        <div class="row">
            <div class="twelvecol last">
                {% block breadcrumbs %}
                {% if breadcrumb_trail %}
                    {{ breadcrumb_trail|safe }}
                {% else %}
                    <a href="/">Home</a>
                {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Messages -->
    {% if messages %}
    <div class="container messages" id="messages">
        <div class="row">
            <div class="twelvecol last">
                <ul class="messagelist">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Page content -->
    <div class="container page-content" id="page-content">
        {% block pagecontent %}{% endblock %}
    </div>

    <!-- Footer -->
    <div class="container site-footer" id="site-footer">
        <div class="row">
            <div class="twelvecol last" style="padding:0px;margin:0px;">
                {% include "dec_base/badge_float.html" %}
            </div>
        </div>
    </div>
{% endblock %}
