{% extends "base_b4.html" %}

{% block page_content_inner %}
<h1>{{ page_title }}</h1>
<p>Changes listed below should be carried out in Azure AD by an authorised user and marked as completed.</p>

{% if object_list %}
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Created</th>
            <th>Department user</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
        <tr>
            <td>{{ obj.created }}</td>
            <td><a href="{% url 'admin:organisation_departmentuser_change' object_id=obj.department_user.pk %}">{{ obj.department_user }}</a></td>
            <td>{{ obj.action }}</td>
            <td>
                <a href="{% url 'ad_action_detail' pk=obj.pk %}" class="btn btn-secondary btn-sm">Instructions</a>
                <a href="{% url 'ad_action_complete' pk=obj.pk %}" class="btn btn-primary btn-sm"><i class="fas fa-check"></i> Mark as completed</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p><em>No outstanding actions - good job, team!</em></p>
{% endif %}
{% endblock %}
