{% extends "base_b4.html" %}

{% block extra_style %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" />
{% endblock %}

{% block page_content_inner %}
<h1>
    {{ page_title }}
</h1>

<table class="table table-bordered table-condensed">

    <tbody>
        <tr>
            <th>Created</th>
            <td>{{ object.created }}</td>
        </tr>
        <tr>
            <th>Department user</th>
            <td>{{ object.department_user }}</td>
        </tr>
        {% if object.department_user.cost_centre and object.department_user.cost_centre.division_name %}
            <tr>
                <th>Division</th>
                <td>{{ object.department_user.cost_centre.get_division_name_display }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Synced to on-prem AD?</th>
            <td>{% if object.department_user.dir_sync_enabled %}Yes{% else %}No (cloud-only account){% endif %}</td>
        </tr>
    </tbody>

</table>

<h1>PowerShell instructions</h1>
{% if object.department_user.dir_sync_enabled %}
    <p>
        This user account is synced to <strong>on-premises Active Directory</strong>.
        Carry out the instructions below on a suitable management host.
    </p>
    {% if not object.department_user.ad_guid %}
        <p>
            <strong>NOTE: Department User has no on-premises Active Directory GUID associated.</strong>
            Ensure that the on-prem account exists and wait for the user's AD GUID to be automatically
            synced into IT Assets (should take less than 15 minutes).
        </p>
    {% endif %}
{% else %}
    <p>
        This user acount in online-only in <strong>Azure Active Directory</strong>.
        Carry out the instructions below on a suitable management host.
    </p>
{% endif %}

<pre><code class="language-powershell">{{ object.powershell_instructions }}</code></pre>

<p>
    <a href="{% url 'ad_action_complete' pk=object.pk %}" class="btn btn-primary"><i class="fas fa-check"></i> Mark as completed</a>
</p>

{% endblock page_content_inner %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/prism.min.js" integrity="sha512-WkVkkoB31AoI9DAk6SEEEyacH9etQXKUov4JRRuM1Y681VsTq7jYgrRw06cbP6Io7kPsKx+tLFpH/HXZSZ2YEQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-powershell.min.js" integrity="sha512-1G3vveJPpWtkUP8ud6BVJGNEJELeOeZO2moSOWkju4yJFlJRAq+rg1UpDSsFBR9O1VBsB/q3hI0TNwsHeVJf4A==" crossorigin="anonymous"></script>
{% endblock %}
