{% extends "base_itassets.html" %}

{% block page_content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>{{ page_title }}</h1>
        </div>
        <div class="col-sm-8 d-none d-sm-block">
            <div class="alert alert-secondary">
                <p><b>To update information in the address book, please obtain approval from a Cost Centre manager or higher before contacting:</b></p>
                <ul>
                    <li>For changes to your Teams/work phone or work mobile number, contact the <a href="mailto:oim.servicedesk@dbca.wa.gov.au">OIM Service Desk</a>.</li>
                    <li>For all other changes, please contact People Services Branch (via your payroll officer).</li>
                </ul>
                <p><i><b>Important Notice:</b> Address Book information supports the department's shared IT common operating environment (Shared IT COE)
                        <a href="https://dpaw.sharepoint.com/Divisions/corporate/oim/SitePages/Identity-and-Access-Management.aspx" target="_blank">identity and access management</a>.
                        Cost Centre managers are responsible for ensuring their staff's Address Book information is correct.</i></p>
            </div>
        </div>
    </div>
</div>
<div id="addressbook-app"></div>
{% endblock page_content %}

{% block extra_js %}
<script type="text/javascript" src="https://static.dbca.wa.gov.au/sites/address-book/0.3.7/js/chunk-vendors.js"></script>
<script type="text/javascript" src="https://static.dbca.wa.gov.au/sites/address-book/0.3.7/js/addressbook.js"></script>
<script>
var addressbook = null;
window.onload = function () {
    addressbook = addressbookApp('#addressbook-app', {
        baseUrl: 'https://static.dbca.wa.gov.au/sites/address-book/0.3.7',
        itAssetsUrl: 'https://itassets.dbca.wa.gov.au',
        kmiUrl: 'https://kmi.dbca.wa.gov.au/geoserver/gwc/service/wmts',
    });
};
</script>
{% endblock %}
