{% extends "base_b4.html" %}

{% block page_content_inner %}
<div id="addressbook-app"></div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://static.dbca.wa.gov.au/sites/address-book/0.3.5/js/chunk-vendors.js"></script>
<script type="text/javascript" src="https://static.dbca.wa.gov.au/sites/address-book/0.3.5/js/addressbook.js"></script>
<script>
var addressbook = null;
window.onload = function () {
    addressbook = addressbookApp('#addressbook-app', {
        baseUrl: 'https://static.dbca.wa.gov.au/sites/address-book/0.3.5',
        itAssetsUrl: 'https://itassets.dbca.wa.gov.au',
        kmiUrl: 'https://kmi.dbca.wa.gov.au/geoserver/gwc/service/wmts',
    });
};
</script>
{% endblock %}
