{% extends "admin/base_site.html" %}

{% block content %}
<p>This interface lets you bulk-import Alesco data into this database
for recording against Department Users.</p>
<p><strong>Import data must reside in the first worksheet.</strong></p>
<p><strong>The first row must contain valid column headings.</strong></p>
<p>Select the spreadsheet file below and click upload.</p>

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload" />
</form>
{% endblock %}
