{% extends "base_b4.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_content_inner %}
<div class="row">
    <div class="col">
        <h1>{{ page_title }}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if not completed_form %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">Please correct the error(s) below.</div>
            {% endif %}
            {% crispy form %}
        {% else %}
            <p>Thank you for completing this form.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
