{% extends "base_itassets.html" %}
{% block page_content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ page_title }}</h1>
                <!-- Search bar -->
                <form action="" method="get">
                    <div class="row">
                        <div class="hidden-xs col-sm-1">
                            <label for="search_field">Search:</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-7">
                            <input id="search_field"
                                   type="text"
                                   class="form-control"
                                   name="q"
                                   placeholder="Search name or CC..."
                                   value="{{ query_string }}">
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-4">
                            <a href="{% url 'user_accounts' %}?q={{ query_string }}&export=true"
                               class="btn btn-info"><i class="fas fa-file-export"></i> Export</a>
                        </div>
                    </div>
                </form>
                <hr>
                {% if object_list %}
                    <h3>Search results: {{ object_count }}</h3>
                    {% include "pagination.html" %}
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Cost centre</th>
                                <th>Microsoft 365 licence</th>
                                <th>Account active?</th>
                                <th>Last sign-in</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                                <tr>
                                    <td>{{ obj.name }}</td>
                                    <td>{{ obj.cost_centre.code }}</td>
                                    <td>{{ obj.get_licence }}</td>
                                    <td>{{ obj.active|yesno|capfirst }}</td>
                                    <td>{{ obj.last_signin|default_if_none:"" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include "pagination.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock page_content %}
