<!doctype html>
<html lang="en">
    <head>
        <title>DBCA User Accounts</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" type="text/css" href="//static.dbca.wa.gov.au/static/cdnjs/ajax/libs/datatables/1.10.12/css/dataTables.foundation.css"/>
        <link rel="stylesheet" type="text/css" href="//static.dbca.wa.gov.au/static/js/datatables-fixedheader-3.1.2/css/fixedHeader.foundation.css"/>
        <link rel="stylesheet" type="text/css" href="//static.dbca.wa.gov.au/static/js/datatables-scroller-1.4.2/css/scroller.foundation.css"/>

        <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/cdnjs/ajax/libs/datatables/1.10.12/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/cdnjs/ajax/libs/datatables/1.10.12/js/dataTables.foundation.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/js/datatables-fixedheader-3.1.2/js/dataTables.fixedHeader.js"></script>
        <script type="text/javascript" src="//static.dbca.wa.gov.au/static/js/datatables-scroller-1.4.2/js/dataTables.scroller.js"></script>
        <style type=text/css>
          .nowrap { white-space: nowrap; }
          dl, dl dd { margin: 0!important; }
        </style>
    </head>

    <body>
        <div class="container">
            <noscript>
                <strong>We're sorry, but this page won't work properly without JavaScript enabled. Please enable it to continue.</strong>
            </noscript>
            <div class="row">
                <div id="id-div-useraccounts">
                    <table id="userAccountsTable" class="table table-sm table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Account name</th>
                                <th>Cost centre</th>
                                <th>Microsoft 365 licence</th>
                                <th>Active?</th>
                                <th>Shared/role-based</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    <script type="text/javascript">

    // DataTables configuration.
    const configTable = {
        autoWidth: false,
        processing: true,
        //serverSide: true,  // NOTE: DataTables can't do client-side sorting for just the returned data :|
        pageLength: 50,  // Initial number of results to show.
        responsive: true,
        pagingType: "numbers",
        ajax: 'https://itassets.dbca.wa.gov.au/api/v3/license/',
        columns: [
            {"data": "name"},
            {"data": "cost_centre"},
            {"data": "microsoft_365_licence"},
            {"data": "active"},
            {"data": "shared"},
        ],
    }
        var userAccountsTable = $("table#userAccountsTable").DataTable(configTable);

        // Document ready
        $(function () {
            // TODO
        });
    </script>

    </body>
</html>
